  <% if @popup_message %>
  <script type="text/javascript">
   alert("<%= @popup_message %>");
  </script>
<% end %>

<div class="iform" id="admin_account" style="overflow-y: auto">
<form action="/admin_session" method="POST">

<p class="iheader">Log In As Admin</p>
  <label class="ilabel">
    <input name="email" placeholder="Email"class="itext"/>
  </label><br>

  <label class="ilabel">
    <input name="password" placeholder="Password"class="itext"/>
  </label><br>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <input type="submit" id="admin_sign_in" class="ibutton"/>

</form>
</div>