<div id="about" style="overflow-y: auto">
	<p id="talk"><%= @info %></p>
	<div id="hours">STORE HOURS<br><br>Tuesday-Friday 10AM-10PM<br>Saturday 11AM-10PM<br>Sunday 12PM-8PM<br>Monday 11AM-10PM</div>
	<img id="beer1" src="http://i.imgur.com/ttvXJtL.jpg" alt>
	<img id="beer2" src="http://i.imgur.com/YaC7BBR.jpg" alt>
</div>